body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.navbar {
  background-color: #006400; /* Green */
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #ffffff;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #FFD700; /* Yellow on hover */
}

.button-primary {
  background-color: #FF0000; /* Red */
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button-primary:hover {
  background-color: #FFD700; /* Yellow */
  color: #000000;
}
